<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LHYPickerViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D4053431EBC1E9E00D6AFAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D40535C1EBC1EA000D6AFAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D4053671EBC1EA000D6AFAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
